version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

  ocr-service:
    build: ./python-service
    container_name: python_ocr_container
    ports:
      - "5001:5001"
    env_file:
      - .env
    depends_on:
      - postgres
    restart: always

  backend-api:
    build: ./nest-service
    container_name: nestjs_api_container
    ports:
      - "3001:3001"
    env_file:
      - .env
    environment:
      - DB_HOST=postgres
      - SUBSID_API=http://ocr-service:5001
    depends_on:
      - postgres
      - ocr-service
    volumes:
      - ./initial-data.sql:/app/initial-data.sql
    restart: always

volumes:
  pgdata: